<template>
    <div class="chapter">
        <h2>
            {{ chapter.slug }}
        </h2>
        <section class="comments">
            <div class="entry" v-for="comment in  notEmptyComments " :style="{
                'margin-left': Math.floor(Math.random() * 6) + 'rem',
                'transform': `rotate(${Math.floor(Math.random() * 10 - 5)}deg)`
            }">
                <img class="avatar" :src="comment.avatar.replace('output', 'manga')">
                <div class="content">
                    <!-- <h3 class="username">{{ comment.username }}</h3> -->
                    <p class="comment" :style="{
                        'max-width': Math.floor(Math.random() * 15) + 15 + 'ch'
                    }" v-html="comment.comment"></p>
                </div>
            </div>
        </section>
    </div>
</template>
<script setup>
import { computed } from 'vue'
const props = defineProps(['chapter'])
const notEmptyComments = computed(() => props.chapter.comments.filter(c => c.comment != ""))

function* walk(scale, initial = 0) {
    let amount = initial
    while (true) {
        amount += Math.random() * scale - scale / 2
        yield amount
    }
}

const walkMargin = walk(2)

</script>

<style scoped>
.chapter {

    margin: 32px;
    max-width: 100%;
    break-before: left;
    overflow: visible;
    position: relative;
}


.chapter h2 {
    font-size: 196px;
    margin: 0;
}

.chapter .comments {
    padding: 1cm;

}


.entry {
    display: inline-flex;
    gap: 1rem;
    margin: 0;
    margin-bottom: -4rem;
}


.entry:first-of-type {
    margin-top: -6rem;
}


/* .entry .avatar {
    flex-grow: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    align-self: flex-start;
} */

/* .entry .avatar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 250px;
    height: 250px;
    align-self: flex-start;

    break-inside: avoid;
} */

.avatar {
    position: absolute;
    bottom: -125px;
    left: -125px;
    width: 250px;
    height: 250px;
    z-index: 0;

}

.content {
    background-color: white;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 1);
    width: fit-content;
    break-inside: avoid;
    position: relative;
    z-index: 1;

    font-size: 2rem;

    padding: 6rem;

    break-inside: avoid;
    text-align: center;
    z-index: 100;
}

.username,
.comment {
    margin: 0;
}

.username {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.25);
    background-color: white;
}

.comment {
    line-height: 1.2;
    max-width: 45ch;
    word-break: break-word;
}
</style>