<template>
    <div class="chapter">
        <h2>
            {{ chapter.slug }}
        </h2>
        <section class="comments">
            <div class="entry" v-for="comment in  notEmptyComments " :style="{
                'margin-left': Math.floor(Math.random() * 14 - 7) + 'rem ',
                'transform': `rotate(${Math.floor(Math.random() * 10 - 5)}deg)`
            }">
                <div class="content">
                    <p class="comment" :style="{
                        'max-width': Math.floor(Math.random() * 15) + 15 + (comment.comment.length > 250 ? 10 : 0) + 'ch',
                        'padding': comment.comment.length > 300 ? '6rem' : 'rem'
                    }" v-html="comment.comment"></p>
                </div>
            </div>
        </section>
    </div>
</template>
<script setup>
import { computed } from 'vue'
const props = defineProps(['chapter'])
const notEmptyComments = computed(() => props.chapter.comments.filter(c => c.comment != ""))

function* walk(scale, initial = 0) {
    let amount = initial
    while (true) {
        amount += Math.random() * scale - scale / 2
        yield amount
    }
}

const walkMargin = walk(2)

</script>

<style scoped>
.chapter {
    margin: 32px;
    max-width: 100%;
    break-before: left;
    margin: 2cm;
}


.chapter h2 {
    font-size: 196px;
    margin-top: 0;
    font-family: "VG5000"
}

.chapter .comments {
    padding: 1cm;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0;

}

.entry {
    margin: -2rem -4rem;
    transform: translateY(1cm);
    padding: 3rem;
    background-color: white;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 1);
    width: fit-content;
    break-inside: avoid;
}


.entry:first-of-type {
    margin-top: -5rem;
}

.entry .content {
    font-size: 2rem;
    padding: 3rem;
    break-inside: avoid;
    text-align: center;
}



.comment {
    line-height: 1.2;
    max-width: 45ch;
    word-break: break-word;
    margin: 0;
}
</style>