<template>
    <div class="chapter">
        <!-- <div class="frame"></div> -->
        <h2>
            {{ chapter.slug }}
        </h2>
        <section class="comments" :key="key" @click="changeKey()">
            <div class="entry" v-for="comment in notEmptyComments" :style="{
                'margin-left': Math.floor(Math.random() * 12 - 7) + 'rem ',
                'transform': `rotate(${Math.floor(Math.random() * 10 - 5)}deg)`
            }">
                <div class="content">
                    <p class="comment" :style="{
                        'max-width': Math.floor(Math.random() * 15) + 15 + (comment.comment.length > 250 ? 10 : 0) + 'ch',
                        'padding': comment.comment.length > 300 ? '6rem' : 'rem'
                    }
                        " v-html="comment.comment"></p>

                </div>
            </div>
        </section>
        <!-- <div style='page-break-before:always'></div> -->
        <!-- <section class="colophon">
            <div class="credits">
                <h3>Comments by</h3>
                <p>
                    {{ users.join(', ') }}
                </p>
            </div>
            <a :href="chapter.url">{{ chapter.url }}</a>
        </section> -->
    </div>
</template>
<script setup>
import { ref, computed } from 'vue'
const props = defineProps(['chapter'])
const key = ref(Math.random())
const changeKey = () => key.value = Math.random()
const notEmptyComments = computed(() => props.chapter.comments.filter(c => c.comment != ""))


</script>

<style scoped>
.chapter {
    margin: 32px;
    max-width: 100%;
    break-before: right;
    margin: 2cm;
    position: relative;
}

.frame {
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid currentColor;
    z-index: 0;
}

.chapter h2 {
    font-size: 196px;
    margin-top: 0;
    font-family: "VG5000";
    text-align: right;
}

.chapter .comments {
    /* padding: 1cm; */
    position: relative;
    margin: 1cm;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0;
    height: 100%;
    transform: scale(98%) translateY(2rem);
    z-index: 100;

}

.entry {
    margin: -2rem -4rem;
    transform: translateY(1cm);
    padding: 3rem;
    background-color: white;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 1);
    width: fit-content;
    break-inside: avoid;
}


.entry:first-of-type {
    margin-top: -5rem;
}

.entry .content {
    font-size: 2rem;
    padding: 3rem;
    break-inside: avoid;
    text-align: center;
}



.comment {
    line-height: 1.2;
    max-width: 45ch;
    word-break: break-word;
    margin: 0;
}

.colophon {
    transform: translateY(-101%);
    break-inside: avoid;
    border: 4px solid rgba(0, 0, 0, 1);
    background-color: white;
    font-family: serif;
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 1rem;
    margin: 0;
}

.colophon>* {
    flex: 1;
}

.colophon a,
.colophon h3 {
    text-decoration: none;
    color: currentColor;
    font-family: 'VG5000';
    font-size: 2rem;
    margin: 0;
}

.colophon p {
    margin: 1rem 0;
}
</style>