<script setup>
import { ref } from 'vue'

import Chapter from "@/components/Chapter.vue"
const series = '/manga/manga-ep954372'

const chapters = ref([])
const debug = false

fetch(`${series}.json`).then(r => r.json()).then(async r =>
  Promise.all(r.map(async chapter =>
    await fetch(`${series}/${chapter}.json`).then(ch => ch.json())
  ))
).then(r => chapters.value = debug ? r.slice(0, 2) : r)



</script>

<template>
  <main ref="content">
    <div class="white"></div>
    <h1>
      before the pandemic <br>
      during the pandemic <br>
      after the pandemic <br>
    </h1>
    <div class="white"></div>
    <div class="white"></div>
    <div v-if="chapters">
      <Chapter v-for="chapter in chapters" :key="chapter.url" :chapter="chapter"></Chapter>
    </div>

    <div class="blank"></div>
  </main>
</template>

<style>
h1 {
  width: 100%;
  font-size: 96px;
  line-height: 1.2;
  break-before: always;
  break-after: page;
  text-align: left;
  text-align: center;
  vertical-align: middle;
}

main {
  position: relative;
}
</style>
