:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	font-family: sans-serif;
	font-family: "Anime Ace 2.0 BB";
	margin: 0;
}

.white {
	break-before: page;
	break-after: page;
}

@page {
	counter-increment: pageNumber;
	margin: 2cm;
	margin-top: 1cm;
	margin-bottom: 2cm;
}

@page :right {
	margin-left: 2cm;
	margin-right: 1cm;
}

@page :left {
	margin-right: 2cm;
	margin-left: 1cm;
}

@media print {
	.blank {
		position: fixed;
		bottom: -4px;
		height: 0.2cm;
		background-color: white;
		left: 0;
		width: 100%;
	}
}
